$fundo: #DDA0DD;
$div-padrao: #fff;
$btn:#E2686D;

body{
	background-color:$fundo;
}

.class-white{
	width:100%;
	height:50%;
	background-color:$div-padrao;
}

p{
	text-align:justify;
}

.waves-light{
	background-color:$btn!important;
}
